---
layout: layouts/home.njk
---

Hello from contact page


<div class="container mt-5 bg-dark text-light">
        <div class="row justify-content-center">
            <div class="col-md-6">
<form netlify name="contact-form">
  <div class="mb-3">
    <label for="exampleInputFirstName" class="form-label">First name</label>
    <input type="text" class="form-control" name="fname" id="exampleInputFirstName">
  </div>
  <div class="mb-3">
    <label for="exampleInputLastName" class="form-label">Surname</label>
    <input type="text" class="form-control" name="fname" id="exampleInputLastName">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>